<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
<style>
body {
  background-image: url('https://us.123rf.com/450wm/rastudio/rastudio1802/rastudio180200837/96386928-blockchain-technology-futuristic-abstract-vector-background-with-blockchain-peer-to-peer-network-glo.jpg?ver=6');
}
h1 {
    color: white;
  }
</style>
    <body>
	<center>
        <h1>Check for data</h1>
        <form action="/" method="post">
            <input type="text" name="address" placeholder="address" requried> <br>
            <textarea name="abi" placeholder="ABI" required></textarea><br>
            <button type="submit">Check</button>
        </form>
	<center>
    </body>
</html>
